[submodule "deps/js-levenshtein"]
	path = deps/js-levenshtein
	url = https://github.com/gustf/js-levenshtein
[submodule "deps/js-cuint"]
	path = deps/js-cuint
	url = https://github.com/pierrec/js-cuint
[submodule "deps/yespower"]
	path = deps/yespower
	url = https://github.com/openwall/yespower
[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "deps/wasm-secp256k1"]
	path = deps/wasm-secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "deps/emsdk"]
	path = deps/emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "deps/ed25519"]
	path = deps/ed25519
	url = https://github.com/orlp/ed25519
